@charset "UTF-8";
html{
    font-size: 0.5208vw;
    scroll-behavior: smooth;
}

body, h1, h2, h3, h4, h5, p, ul{
    margin: 0;
    padding: 0;
}

h2{
    font-weight: 300;
    line-height: 100%;
    font-size: 3.6rem;
    color: #2C2C2C;
}

h3{
    font-weight: 300;
    line-height: 100%;
}

p{
    font-size: 2.8rem;
    font-weight: 100;
}

.pc_only{
    display: block;
}

.pc_flex{
    display: flex;
}

.pc_inline{
    display: inline;
}

.sp_flex{
    display: none;
}

.sp_inline{
    display: none;
}

.sp_only{
    display: none;
}

body{
    font-family:'メイリオ', 'Meiryo','ＭＳ ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN',sans-serif;
    overflow-x: hidden;
    color: #606060;
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
    line-height: 100%;
}

.mintyo{
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

/* header */
header{
    width: 100%;
}

header > div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header .header_top{
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: url("../img/header_bg.jpg") no-repeat center center/cover;
}

header .header_top h2{
    width: 85%;
    max-width: 1440px;
    margin: auto;
    font-size: 5rem;
    position: relative;
    color: #606060;
}

header .header_top h2::before{
    position: absolute;
    content: "";
    height: .1rem;
    width: 4rem;
    background: #2C2C2C;
    bottom: 1rem;
    left: 26rem;
}

header .header_bottom{
    width: 85%;
    max-width: 1440px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin: auto;
    margin-top: 6.8rem;
    margin-bottom: 11.7rem;
}

header .header_bottom a img{
    width: 26.955rem;
    transition: all .3s ease-in-out;
}

header .header_bottom a img:hover{
    opacity: .5;
    transition: all .3s ease-in-out;
}

header .header_bottom nav{
    width: 60%;
}

header .header_bottom nav ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

header .header_bottom nav ul li{
    text-align: center;
}

header .header_bottom nav ul li{
    width: 15%;
    position: relative;
}

header .header_bottom nav ul li a{
    font-size: 2.8rem;
    color: #606060;
    position: relative;
}

header .header_bottom nav ul li::after{
    position: absolute;
    content: "";
    height: .5rem;
    width: 14.1rem;
    right: 100%;
    margin-right: -50%;
    transform: translate(50%, 50%);
    bottom: 2rem;
    background: #E1E1E1;
    opacity: 0;
    transition: all .5s ease-in-out;
}

header .header_bottom nav ul li:hover::after{
    opacity: 1;
    bottom: -1rem;
    transition: all .5s ease-out;
}

.is_current::before{
    position: absolute;
    content: "";
    height: .5rem;
    width: 14.1rem;
    right: 100%;
    margin-right: -50%;
    transform: translate(50%, 50%);
    bottom: -1rem;
    background: #E1E1E1;
}

.is_current::after{
    opacity: 0 !important;
}

header .header_bottom nav ul li a span{
    font-size: 1.8rem;
}


/* contact */
#contact{
    position: relative;
}

#contact .top_button{
    position: absolute;
    font-size: 1.8rem;
    right: 16.7rem;
    color: #2C2C2C;
    top: 0;
    transform: rotateZ(-90deg);
}

#contact .top_button::before{
    position: absolute;
    content: "";
    width: 6.583rem;
    height: .1rem;
    top: 50%;
    left: 9rem;
    transform: translate(0, -50%);
    background: #2C2C2C;
    transition: all .2s ease-in-out;
}

#contact .top_button::after{
    position: absolute;
    content: "";
    width: .5rem;
    height: .6rem;
    top: 50%;
    left: 15.5rem;
    transform: translate(0, -50%);
    background: #2C2C2C;
    transition: all .2s ease-in;
}

#contact .top_button:hover::before{
    width: 10rem;
    transition: all .2s ease-in;
}

#contact .top_button:hover::after{
    left: 19rem;
    transition: all .2s ease-in;
}


#contact .wrap{
    width: calc(40% - 10.1rem);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: .1rem solid #2C2C2C;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    padding: 4.05rem 5.05rem;
    color: #606060;
    transition: all .3s ease-in-out;
    background: white;
}

#contact .wrap div h3{
    font-size: 2.8rem;
    margin-bottom: 3.4rem;
}

#contact .wrap div p{
    font-size: 1.3rem;
}

#contact .wrap > p{
    font-size: 1.8rem;
    position: relative;
}

#contact .wrap > p::before{
    position: absolute;
    content: "";
    width: 7.4rem;
    height: .1rem;
    left: -9.4rem;
    transform: translate(0, -50%);
    top: 50%;
    background: #EBEBEB;
}

#contact .wrap > p::after{
    position: absolute;
    content: "";
    width: 3.7rem;
    height: .1rem;
    left: -9.4rem;
    transform: translate(0, -50%);
    top: 50%;
    background: #2C2C2C;
    transition: all .3s ease-in-out;
}

#contact .wrap:hover > p::after{
    width: 7.4rem;
    transition: all .3s ease-in; 
}

#contact .wrap:hover{
    background-color: #EBEBEB;
    transition: all .3s ease-in-out;
}

footer{
    margin-top: 10rem;
    border-top: 1rem solid #707070;
    background: #EBEBEB;
    padding-bottom: .9rem;
}

footer .wrap{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4.3rem;
    margin-bottom: 10.7rem;
}

footer .wrap a{
    transition: all .3s ease-in-out;
}

footer .wrap a:hover{
    opacity: .5;
    transition: all .3s ease-in-out;
}

footer .wrap > a > img{
    width: 26.955rem;
}

footer .wrap .footer_menu{
    width: 30%;
    transform: translateX(-5rem);
}

footer .wrap .footer_menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .wrap .footer_menu ul li a{
    color: #606060;
    font-size: 2.4rem;
}

footer .wrap .footer_sns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10%;
}

footer .wrap .footer_sns img{
    width: 3.5rem;
}

footer .copylight{
    font-size: 1.6rem;
    text-align: center;
}

@media screen and (max-width: 1024px){
    #contact .wrap{
        width: calc(50% - 10.1rem);
    }

    #contact .top_button{
        right: 6.7rem;
    }

    #contact .top_button::before{
        left: 12rem;
    }

    #contact .top_button::after{
        left: 18rem;
        width: 1rem;
        height: 1rem;
    }
}

@media screen and (max-width: 767px) {
    html{
        font-size: 2.667vw;
    }

    .pc_only{
        display: none;
    }
    
    .sp_only{
        display: block;
    }

    .pc_flex{
        display: none !important;
    }

    .sp_flex{
        display: flex !important;
    }

    .pc_inline{
        display: none;
    }

    .sp_inline{
        display: inline;
    }

    h2{
        font-size: 2.4rem;
        font-weight: 600;
    }

    p{
        font-size: 1.4rem;
        line-height: 200%;
    }

    header{
        position: fixed;
        z-index: 100;
    }

    header > div{
        width: 100%;
        height: 14.807rem;
        background: url("../img/header_sp_bg.svg") no-repeat center center/cover;
    }


    /* kv */
    #kv{
        height: 14.1rem;
        width: 100%;
        margin-bottom: 3.1rem;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        background: url("../img/kv_sp_bg.jpg") no-repeat center center/cover;
    }

    #kv h2{
        font-size: 2.8rem;
        color: #EBEBEB;
        margin-left: 1.72rem;
        margin-bottom: 0.74rem;
    }

    #contact .wrap{
        width: 95%;
        padding: .9rem 0;
        justify-content: center;
        align-items: center;
    }

    #contact .wrap div h3{
        font-size: 1.4rem;
        text-align: center;
        margin: 0;
    }

    #contact .wrap div p{
        border-top: .1rem solid #2C2C2C;
        line-height: 100%;
        padding-top: 0.54rem;
        margin-top: 0.54rem;
        text-align: center;
    }

    footer{
        margin-top: 1.5rem;
        border-top: .3rem solid #707070;
        background: #EBEBEB;
        padding-bottom: 1rem;
    }

    footer .wrap > a > img{
        width: 16.8rem;
        margin-bottom: 3.05rem;
    }

    footer .wrap{
        flex-direction: column;
        margin-top: 2.05rem;
        margin-bottom: 2.24rem;
    }

    footer .wrap .footer_menu{
        transform:unset;
        width: 100%;
        margin-bottom: 3.7rem;
    }

    footer .wrap .footer_sns{
        width: 55%;
    }

    footer .wrap .footer_sns img{
        width: 2.512rem;
    }

    footer .wrap .footer_menu ul li a{
        font-size: 1.8rem;
    }

    footer .copylight{
        font-size: 1.2rem;
    }

    #nav{
        padding: 0;
        position: fixed;
        width: 100%;
        height: 100vh;
        right: -100%;
        top: 0;
        background: #EBEBEB;
        transition: all .7s ease-in-out;
        z-index: 1;
        opacity: 0;
        overflow-y: scroll;
        line-height: 100%;
    }

    #nav .nav_logo{
        background: white;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 2.8rem 0;
    }

    #nav .nav_logo::before{
        position: absolute;
        content: "";
        height: .1rem;
        width: 9rem;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        background: #2C2C2C;
    }

    #nav .nav_wrap{
        width: 50%;
        margin: auto;
        margin-top: 10.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #nav .nav_logo img{
        width: 16.8rem;
    }

    #nav .nav_wrap ul{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    #nav .nav_wrap ul li{
        margin-bottom: 6.75rem;
        position: relative;
        border-bottom: .1rem solid #2C2C2C;
        padding-bottom: 1.19rem;
    }

    #nav .nav_wrap ul li::before{
        position: absolute;
        content: "";
        width: 3.9rem;
        height: 3.6rem;
        left: -3rem;
        top: 1rem;
        background: url("../img/title_symbol.svg") no-repeat center center/contain;
        z-index: -1;
    }

    #nav .nav_wrap ul li:nth-child(even):before{
        position: absolute;
        content: "";
        width: 3.9rem;
        height: 3.6rem;
        left: -3rem;
        top: 1rem;
        background: url("../img/title_symbol02.svg") no-repeat center center/contain;
        z-index: -1;
    }

    #nav .nav_wrap ul li a{
        font-size: 2.8rem;
        color: #2C2C2C;
    }

    #nav .tell_wrap{
        position: absolute;
        height: 20.5rem;
        width: 100%;
        bottom: 0;
        left: 0;
        background: url("../img/nav_tell_bg.svg") no-repeat center center/cover;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    #nav .tell_wrap a{
        font-size: 2.1rem;
        color: white;
        border-bottom: .1rem solid white;
        width: 50vw;
        margin-bottom: 3.5rem;
        position: relative;
    }

    #nav .tell_wrap a::before{
        position: absolute;
        content: "";
        height: 2.5rem;
        width: 2.5rem;
        background: url("../img/phone.svg") no-repeat center center/contain;
        left: -3rem;
        bottom: 0;
    }

    #hamburger {
        position: fixed;
        width: 3.6rem;
        height: 7.1rem;
        transition: all 1s ease-out;
        background: #2C2C2C;
        z-index: 1;
        right: 1.6rem;
        top: 1.5rem;
        transition: all 1s ease-out;
    }

    .hamb{
        width: 8rem !important;
        height: 8rem !important;
        transition: all 1s ease-out;
        top: 0 !important;
        right: 0 !important;
    }

    .inner_line {
        display: block;
        position: absolute;
        right: 50%;
        margin-right: -50%;
        transform: translate(-50%, 50%) rotateZ(-45deg);
        bottom: 50%;
        width: 50%;
        height: 2px;
        background-color: white;
        transition: all 1s ease-out;
    }

    #line1 {
        top: 30%;
    }

    #line2 {
        top: 49%;
    }

    #line3 {
        bottom: 30%;
    }

    .in{
        transform: translateX(-100%);
        opacity: 1 !important;
    }

    .line_1,.line_2,.line_3{
        background: white;
        z-index: 100;
    }

    .line_1 {
        transform: translate(-1.9rem, 1.5rem) rotate(-45deg);
        top: 0;
    }

    .line_2 {
        opacity: 0;
        right: 0;
        top: 0 !important;
    }
    
    .line_3 {
        transform: translate(-1.9rem, -1.5rem) rotate(45deg);
        bottom: 0;
    }
}