@charset "UTF-8";
header .header_top h2::after{
    position: absolute;
    content: "お問合せ";
    font-size: 1.8rem;
    color: #606060;
    bottom: -1rem;
    left: 32rem;
}

#message{
    margin-bottom: 9.6rem;
}

#message .wrap{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#message h1{
    font-size: 4rem;
    text-align: center;
    color: #2C2C2C;
    margin-bottom: 4.4rem;
    line-height: 100%;
    position: relative;
}

#message h1::before{
    position: absolute;
    content: "";
    width: 55rem;
    height: .1rem;
    background: #707070;
    left: 0;
    transform: translate(50%, -50%);
    top: 1.5rem;
}

#message h1::after{
    position: absolute;
    content: "";
    width: 55rem;
    height: .1rem;
    background: #707070;
    right: 0;
    transform: translate(-50%, -50%);
    top: 1.5rem;
}

#message p{
    font-size: 2.8rem;
    margin: auto;
}

#form{
    width: calc(100% - 5.9rem);
    max-width: 1440px;
    margin: auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    border-left: 2rem solid #2C2C2C;
    border-right: 3.9rem solid #2C2C2C;
    padding: 0 1px;
}

#form .wrap{
    border-left: 1rem solid #2C2C2C;
    border-right: 2.5rem solid #2C2C2C;
    padding: 10rem 14rem;
}

label, input, textarea{
    font-size: 2.8rem;
}

input, textarea{
    border: .1rem solid #707070;
    width: 74.5rem;
}

input{
    height: 4.7rem;
}

textarea{
    height: 27.3rem;
}

label span{
    color: #FF0000;
    font-size: 2.4rem;
}

#form .wrap form > div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5.2rem;
}

#form .wrap form > .button_outer{
    width: calc(74.5rem + 4px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: auto;
}

button{
    font-size: 2.8rem;
    padding: 1.5rem 7.5rem;
    border: .1rem solid #606060;
    background: unset;
    color: #606060;
    margin-right: -2rem;
}

@media screen and (max-width: 767px){
    #message{
        margin-bottom: 3.2rem;
    }

    #message .wrap{
        width: 95%;
    }

    #message h1{
        font-size: 2rem;
        margin-bottom: 2.4rem;
    }
    
    #message h1::before{
        width: 12.5rem;
        height: .1rem;
        left: 4rem;
        transform: translate(50%, -50%);
        top: 1rem;
    }
    
    #message h1::after{
        width: 12.5rem;
        height: .1rem;
        right: 4rem;
        transform: translate(-50%, -50%);
        top: 1rem;
    }
    
    #message h1 span{
        font-size: 1.2rem;
    }
    
    #message p{
        font-size: 1.4rem;
        width: unset;
    }

    #message p:nth-child(3){
        font-size: 1.2rem;
        margin-top: 2.6rem;
    }

    #form{
        width: 90%;
        border-left: none;
        border-right: none;
        border-top: 1rem solid #2C2C2C;
        border-bottom: 2rem solid #2C2C2C;
        padding: 1px 0;
    }
    
    #form .wrap{
        border-left: none;
        border-right: none;
        border-top: .5rem solid #2C2C2C;
        border-bottom: 1rem solid #2C2C2C;
        padding: 2.3rem 2.2rem;
    }

    #form .wrap form > div{
        flex-direction: column;
        margin-bottom: 2.3rem;
    }

    #form .wrap form > div > div{
        width: 100%;
    }

    label, input, textarea{
        font-size: 1.4rem;
    }

    label span{
        font-size: 1.2rem;
    }

    input, textarea{
        width: calc(100% - 4px)
    }

    input{
        height: 2rem;
    }

    textarea{
        height: 21.8rem;
    }

    #form .wrap form > .button_outer{
        width: 100%;
    }

    button{
        font-size: 1.4rem;
        width: 100%;
        margin-right: 0;
        padding: .8rem 0;
    }
}